body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

.content {
    height: 100vh;
    width: 100%;
    display: flex;
    /* justify-content: center; */
}

.info {
    height: 100vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    /* background-color: #f8fcd2; */
}

.pane {
    justify-content: center;
    flex-direction: column; 
}

.innerpane {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

#map {
    height: 100%;
    width: 100%;
}

.stuff {
    padding: 10px;
}

#sc {
    display: none;
}

.c {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.params {
    padding-right: 10px;
}

.detailsContainer {
    display: flex;
}

@media (max-width: 690px) {
    .content {
        flex-direction: column-reverse;
    }
    .info {
        height: 90vh;
        width: 100%;
        overflow-y: none;
    }
    #sc {
        display: block;
    }
}